* {
  padding: 0;
  margin: 0;
  border: none;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

#container {
  display: grid;
  grid-template-columns: 4fr 5fr 5fr 4fr;
  grid-template-rows: 4fr repeat(3, 5fr);
  grid-template-areas: 
    "left-sidebar header header   header"
    "left-sidebar main   main     right-sidebar"
    "left-sidebar main   main     right-sidebar"
    "left-sidebar main   main     right-sidebar";
  height: 100vh;

  font-family: LatoRegular, Arial, Helvetica, sans-serif;
}

header {
  grid-area: header;
  display: grid;
  grid-template-columns: 2fr 1fr;
}

#search-bar-container {
  display: grid;
  grid-template-columns: 3rem 1fr;
  align-items: center;
  column-gap: 3rem;
}

#search-bar-container img {
  height: 2.2rem;
  margin-left: 2rem;
}

#search-bar-container > input {
  background-color: rgb(217, 228, 239);
  padding: 0.8rem;
  border-radius: 2rem;
  margin-right: 1rem;
}

#notification-container {
  background-color: aqua;
}

#greeting-container {
  background-color: lightgreen;
}

#buttons-container {
  background-color: blueviolet;
}

#left-sidebar {
  grid-area: left-sidebar;
  background-color: blue;
}

main {
  grid-area: main;
  background-color: gray;
}

#right-sidebar {
  grid-area: right-sidebar;
  background-color: magenta;
}